/* classi utility e common*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: #03a5bd;
}
h3 {
  font-size: 18px;
}
.min-width {
  min-width: 1200px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.font-big {
  font-size: 40px;
}
.font-normal {
  font-size: 14px;
  line-height: 2;
}
.font-small {
  font-size: 12px;
  line-height: 1.5;
}
.bold {
  font-weight: bold;
}
.button {
  height: 40px;
  line-height: 40px;
  min-width: 60px;
  padding: 0 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}
.button-get {
  background-color: #fe775a;
  color: #fff;
}
.button-learn {
  background-color: #fe775a;
  color: #fff;
  width: 140px;
  height: 60px;
  line-height: 60px;
}
.button-big {
  height: 50px;
  line-height: 50px;
  width: 200px;
  font-size: 14px;
}
.fa-check-circle {
 color: #fe775a;
 padding-right: 7px;
}
.box-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.box-brd-l-r {
  border-left: 2px solid white;
  border-right: 2px solid white;
}
.box-brd-r {
  border-right: 2px solid white;
}
.box-brd-top {
  border-top: 2px solid white;
}
/*/ classi utility e common*/

/* sezione top header*/
header section {
  width: 100%;
}
header section.one {
  background-color: #f4f9fd;
  border-bottom: 2px solid #7e8d98;
}
header section .fa-search {
  color: #03a5bd;
}
header section .fa.fa-angle-down {
  font-size: 20px;
  padding: 0 10px;
  vertical-align: top;
}
header section .button-log-in {
  background-color: #fff;
  border:solid #fe775a 0.5px;
  color: #fe775a;
}
header section nav > ul {
  line-height: 80px;
  height: 80px;
}
header section nav > ul li {
display: inline-block;
line-height: 18px;
height: 18px;
padding-right: 20px;
}
header section.one ul li i {
  width: 20px;
  height: 15px;
  padding-right: 5px;
}
section.one nav:first-of-type > ul > li:nth-child(2) {
  border-left: black 2px solid;
  padding-left: 15px;
}
/* /sezione top header*/

/* logo hubspot */
section.two {
  height: 80px;
  line-height: 80px;
}
section.two img {
  vertical-align: middle;
}
/* /logo hubspot */

/* sezione jumbotron header*/
section.three {
  background-color: #fff4ef;
  background-image: url("../img/jumbotron.png");
  position: relative;
  background-position: right top;
  background-repeat: no-repeat;
  height: 700px;
}
section.three .container .jumbotron {
  width: 45%;
  padding-top: 10%;
  padding-right: 30px;
  height: 500px;
}
section.three .container .jumbotron h1 {
  margin-bottom: 20px;
}
section.three .container .jumbotron p {
  margin: 20px 0px;
}
section.three:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content:"";
  background-color: #afebe4;
  height: 90px;
  width: 100%;
  border-top: solid #33475b 3px;
  border-bottom: solid #33475b 3px;
}
/* /sezione jumbotron header*/

main > section {
  width: 100%;
}

/* slogan sotto testata */
section.top {
  background-color: #f4f9fd;
}
section.top .powerful-alone {
  text-align: center;
  padding: 30px 200px;
}
section.top .powerful-alone img {
  width: 200px;
}
section.top .powerful-alone p {
  margin: 30px 0px;
}
/* /slogan sotto sotto testata */

/* contenitore freehubspot CRM*/
.top-content .book-learn {
  background-color: #fff;
  padding-left: 120px;
  width: 25%;
  height: 350px;
}
.top-content .book-learn .libretto {
  width: 150px;
  padding: 75px 0 20px 0;
}
.top-content .book-learn .libretto img {
  width: 100%;
  vertical-align: middle;
}
.top-content .free-hubspot {
  background-color: #fff;
  padding: 50px 200px 0px 90px;
  width: 75%;
  height: 350px;
}
.top-content .free-hubspot h3 {
  text-align: left;
  font-weight: bold;
  line-height: 5;
}
.top-content .free-hubspot p {
  text-align: left;
}
.free-hubspot .popolar {
  text-align: left;
  position: relative;
  line-height: 4;
}
.popolar::after {
  content:"";
  display: inline-block;
  width: 90%;
  border-bottom: 3px solid #899397;
  position: absolute;
  top: 27px;
  left: 200px;
}
.free-hubspot ul {
  line-height: 25px;
  height: 25px;
}
.free-hubspot ul li {
display: inline-block;
padding-right: 10px;
}
/* /contenitore freehubspot CRM */

/* contenitore tre colonne */
.top-content .column {
  width: 33.33%;
  height: 750px;
  text-align: center;
  padding: 35px 0 35px 0;
}
.column.uno {
  padding-right: 40px;
}
.column.tre {
  padding-left: 40px;
}
.column-content {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 0 30px;
}
.column-content .img-container {
  padding: 20px 0;
  height: 150px;
}
.column-content p {
  padding: 20px;
  margin-bottom: 10px;
}
.column-content ul {
  margin-top: 5px;
}
.column-content ul li {
  list-style: none;
  text-align: left;
  padding-left: 10%;
}
.column-content > div:last-child {
  margin-top: 50px;
}
.column-content > hr {
  background-color: #899397;
  height: 3px;
  display: block;
  margin: 40px auto 20px auto;
}
/* /contenitore tre colonne */

/* main sezione middle */
section.middle {
  background: linear-gradient(to right, #00a6bb 0, #00baa7 100%);
  text-align: center;
  color:#fff;
  padding: 40px 0 80px 0;
}
.middle-content h2 {
  font-size: 35px;
}
.middle-content p {
  padding: 40px 0 40px 0;
}
.row .box {
  height: 180px;
  width: 300px;
  padding: 20px 0;
  font-size: 10px;
}
.row .box h3 {
  padding: 20px 0;
}
.row .box h3 span {
  font-size: 0.5em;
  vertical-align: middle;
}
/* /main sezione middle */

/* main sezione bottom */
.csm-and-pts {
  padding-top: 50px;
  text-align: center;
}
.csm-and-pts > div h2 {
  padding-bottom: 30px;
}
.csm-and-pts .row-partners,.customers {
  background-color: #fff;
  height: 250px;
  text-align: left;
}
.csm-and-pts .customers {
  padding: 40px 100px;
  width: 35%;
}
.csm-and-pts .row-partners {
  padding-top: 5px;
  width: 65%;
}
.csm-and-pts .row-partners div {
  width: 180px;
  height: 80px;
  padding: 20px;
  line-height: 80px;
}
.csm-and-pts .row-partners div img {
  width: 100%;
  vertical-align: middle;
}
.final-claim {
  position: relative;
  padding-top: 25px;
}
.final-claim .start-growing {
  width: 60%;
  background-color: #fff;
  padding: 3% 5% 1% 0;
}
.final-claim .start-growing h2 {
  padding-top: 40px;
}
.final-claim .start-growing > p {
  padding: 50px 170px 50px 0;
}
.woman-image {
  width: 27%;
  position: absolute;
  right: 0;
  top: 70px;
}
.woman-image img {
  width: 100%;
}
/* /main sezione bottom */

footer {
  background-color: #32495b;
  padding-bottom: 30px;
  color: #dadee0;
}
footer .nav-foot {
  padding-top: 40px;
}
footer .nav-foot > div {
  width: 25%;
}
footer .nav-foot > div h4 {
  padding-bottom: 15px;
  color: #fff;
}
footer .nav-foot > div ul li {
  list-style: none;
  padding: 10px 0;
}
footer .nav-foot .button-blue {
  border: solid 2px white;
  background-color: #dadee0;
  color: #32495b;
  font-size: 12px;
}
footer .nav-foot > div ul li span {
  padding-right: 25px;
}
.lenguage {
  text-align: center;
  padding: 50px 0 20px 0;
  border-bottom: 2px solid #dadee0;
}
.lenguage p {
  padding: 0 12px;
  display: inline-block;
}
.credits {
  padding-top: 40px;
  color: #fff;
}
.legal p {
  padding-right: 10px;
  display: inline-block;
  color: #dadee0;
}
