* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
/* classi utility */
.min-width {
  width: 100%;
  min-width: 1200px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.button-get {
  background-color: #fe775a;
  color: #fff;
}

.b-central {
  background-color: #fe775a;
  color: #fff;
  font-size: 12px;
  width: 150px;
}

/*/ classi utility */

/* sezione in alto */
.section {
  width: 100%;
}

.one {
  background-color: #f4f9fd;
}

.one ul li img {
  width: 20px;
  height: 15px;
  padding-right: 5px;
}

.button-log-in {
  background-color: #fff;
  border:solid #fe775a 2px;
  vertical-align: middle;
}
/* /sezione in alto */

.navbar ul {
  line-height: 80px;
  height:80px;
}

.navbar li {
display: inline-block;
padding: 0 20px;
}

/* logo hubspot */
.two .logo {
  top: 25px;
  left: 10px;
  position:relative;
  display: inline-block;
}
/* /logo hubspot */

/* sezione in basso */
.three {
  background-color: #fff3ee;
  background-image: url("../img/jumbotron.png");
  background-size: 80%;
  background-position: bottom -100px right;
  background-repeat: no-repeat;
}

.three .container .jumbotron {
  width: 40%;
  padding-top: 50px;
  padding-right: 50px;
  height: 500px;
}

.three .container .jumbotron h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.three .container .jumbotron p {
  font-size: 12px;
  line-height: 1.5;
  margin: 20px 0px;
}

.three .container .jumbotron p:last-child {
  font-size: 10px;
  line-height: 1.5;
  margin: 20px 0px;
}

.jumbotron .button-big {
  height: 50px;
  line-height: 50px;
  width: 200px;
  font-size: 15px;
}
/* /sezione in basso */

.intersection-lightblue {
  height: 100px;
  background-color: #afebe4;
  border-top: solid #33475b 4px;
  border-bottom: solid #33475b 4px;
}

/* slogan sotto testata */
.powerful-alone {
  text-align: center;
  padding: 30px 200px;
}

.powerful-alone img {
  width: 200px;
  text-align: center;
}

.powerful-alone h2 {
  font-size: 40px;
}

.powerful-alone p {
  font-size: 15px;
  line-height: 1.5;
  margin: 30px 0px;
}
/* /slogan sotto sotto testata */

/* corpo centrale */
main {
  background-color: #f4f9fd;
}
/* contenitore centrale freehubspot */
.central-content {
  box-shadow: 1px 2px 2px 2px;
  margin-bottom: 30px;
}

.central-content .book-image {
  background-color: #fff;
  padding-top: 70px;
  padding-left: 150px;
  width: 25%;
  height: 300px;
}

.central-content .book-image .libretto {
  width: 100px;
  height: 120px;
}

.central-content .free-hubspot {
  background-color: #fff;
  padding: 80px 350px 20px 80px;
  width: 75%
}

.central-content .free-hubspot h3 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 40px;
}

.central-content .free-hubspot p {
  text-align: left;
  font-size: 12px;
  padding-bottom: 20px;
}

.free-hubspot .popolar {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.popolar::after {
  content:"";
  display: inline-block;
  width: 60%;
  border-bottom: 1px solid black;
  margin: 5px 20px 5px 30px;
}

.free-hubspot ul {
  line-height: 50px;
  height: 50px;
}

.free-hubspot  li {
display: inline-block;
padding-right: 10px;
}

.free-hubspot  li img {
  padding-right: 10px;
  height: 12px;
}
/* /contenitore centrale freehubspot */

/* contenitore centrale tre colonne */
.central-content .column {
  background-color: #fff;
  text-align: center;
}

.uno {
  width: calc(33.33% - 20px);
  margin-right: 20px;
}

.due {
  width: calc(33.33% - 40px);
  margin: 0 20px;
}

.tre {
  width: calc(33.33% - 20px);
  margin-left: 20px;
}

.column {
  padding: 20px;
}
.column img {
  padding: 20px 0;
  width: 100px;
}

.column.due > img {
  width: 120px;
}

.column.tre > img {
  width: 90px;
}

.column h3 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 20px;
}

.column p {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  line-height: 1.5;
  font-weight: bold;
}

.column li {
list-style: none;
text-align: left;
}

.column li img {
  width: 10px;
}
/* /contenitore centrale tre colonne */

/* /corpo centrale */
