/* classi utility e common*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.min-width {
  width: 100%;
  min-width: 1200px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.float-l {
  float: left;
}

.float-r {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.button {
  height: 40px;
  line-height: 40px;
  min-width: 100px;
  padding: 0 20px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}

.button-get {
  background-color: #fe775a;
  color: #fff;
}

.b-central {
  background-color: #fe775a;
  color: #fff;
  font-size: 12px;
  width: 120px;
}

.fa-check-circle {
 color: #fe775a;
 padding-right: 7px;
}

.box-shadow {
  box-shadow: 1px 1px 1px lightgrey;
  border-radius: 3px;
}

.box-brd-l-r {
  border-left: 2px solid white;
  border-right: 2px solid white;
}

.box-brd-r {
  border-right: 2px solid white;
}

.box-brd-top {
  border-top: 2px solid white;
}
/*/ utility e common */

/* sezione in alto */
.section {
  width: 100%;
}

.one {
  background-color: #f4f9fd;
}

.one ul li img {
  width: 20px;
  height: 15px;
  padding-right: 5px;
}

.button-log-in {
  background-color: #fff;
  border:solid #fe775a 2px;
  vertical-align: middle;
}

.navbar ul {
  line-height: 80px;
  height: 80px;
}

.navbar ul li {
display: inline-block;
padding: 0 20px;
}
/* /sezione in alto */

/* logo hubspot */
.two .logo {
  top: 25px;
  left: 10px;
  position:relative;
  display: inline-block;
}
/* /logo hubspot */

/* sezione jumbotron */
.three {
  background-color: #fff4ef;
  background-image: url("../img/jumbotron.png");
  position: relative;
  background-position: right top;
  background-repeat: no-repeat;
  height: 700px;
}

.three .container .jumbotron {
  width: 45%;
  padding-top: 10%;
  padding-right: 30px;
  height: 500px;
}

.three .container .jumbotron h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.three .container .jumbotron p {
  font-size: 18px;
  line-height: 1.5;
  margin: 20px 0px;
}

.three .container .jumbotron p:last-child {
  font-size: 15px;
  line-height: 1.5;
  margin: 20px 0px;
}

.jumbotron .button-big {
  height: 50px;
  line-height: 50px;
  width: 200px;
  font-size: 15px;
}

.three:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content:"";
  background-color: #afebe4;
  height: 90px;
  width: 100%;
  border-top: solid #33475b 3px;
  border-bottom: solid #33475b 3px;
}
/* /sezione jumbotron */

/* slogan sotto testata */
.powerful-alone {
  text-align: center;
  padding: 30px 200px;
}

.powerful-alone img {
  width: 200px;
  text-align: center;
}

.powerful-alone h2 {
  font-size: 40px;
}

.powerful-alone p {
  font-size: 15px;
  line-height: 1.5;
  margin: 30px 0px;
}
/* /slogan sotto sotto testata */

main.top {
  background-color: #f4f9fd;
}
/* contenitore freehubspot */
.top-content {
  padding-bottom: 30px;
}

.top-content .book-image {
  background-color: #fff;
  padding-top: 30px;
  padding-left: 150px;
  width: 25%;
  height: 250px;
}

.top-content .book-image .libretto {
  width: 100px;
  height: 120px;
}

.top-content .free-hubspot {
  background-color: #fff;
  padding: 35px 350px 50px 70px;
  height: 250px;
  width: 75%
}

.top-content .free-hubspot h3 {
  text-align: left;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.top-content .free-hubspot p {
  text-align: left;
  font-size: 15px;
  padding-bottom: 20px;
}

.free-hubspot .popolar {
  text-align: left;
  font-size: 30px;
  font-weight: bold;
}

.popolar::after {
  content:"";
  display: inline-block;
  width: 65%;
  border-bottom: 3px solid #899397;
  margin: 5px 0px 5px 25px;
}

.free-hubspot ul {
  line-height: 50px;
  height: 50px;
}

.free-hubspot ul li {
display: inline-block;
padding-right: 10px;
}
/* /contenitore freehubspot */

/* contenitore tre colonne */
.top-content .column {
  width: 33.33%;
  height: 800px;
  text-align: center;
}

.uno {
  padding-right: 40px;
}

.tre {
  padding-left: 40px;
}

.column-content {
  background-color: #fff;
  height: 100%;
  width: 100%;
  padding: 0 30px;
}

.column-content .img-container {
  padding: 20px 0;
  height: 150px;
}

.column-content > h3:nth-child(2) {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 0;
}

.column-content p {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  margin-bottom: 50px;
  line-height: 2;
}

.column-content ul {
  margin-top: 30px;
}

.column-content ul li {
list-style: none;
text-align: left;
padding-left: 10%;
}

.column-content > div:last-child {
  margin-top: 50px;
  height: 50px;
  line-height: 50px;
}

.column-content > hr {
  background-color: #899397;
  height: 4px;
  display: block;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
/* /contenitore tre colonne */

/* corpo centrale sezione middle */
main.middle {
  background: linear-gradient(to right, #00a6bb 0, #00baa7 100%);
  text-align: center;
  color:#fff;
  padding: 40px 0 80px 0;
}

.middle-content:first-child h2 {
  font-weight: bold;
  font-size: 35px;
}

.middle-content:first-child p {
  font-size: 16px;
  padding: 40px 0 40px 0;
  line-height: 2;
}

.middle-content:nth-child(2) > .box {
  height: 180px;
  width: 300px;
  padding: 20px 0;
  font-size: 10px;
}

.middle-content:nth-child(2) > .box > h3 {
  font-size: 45px;
  font-weight: bold;
  padding: 20px 0;
}

.middle-content:nth-child(2) > .box > h3 i {
  font-size: 15px;
  vertical-align: middle;
}
/* /corpo centrale sezione middle */

/* corpo centrale sezione bottom */
.csm-and-pts {
  padding-top: 80px;
  text-align: center;
}

/* da rivedere */
.customers {
  background-color: #fff;
  width: 30%;
  height: 250px;
  padding: 40px 100px;
  text-align: left;
}
/* / */
.csm-and-pts > div h2 {
  font-size: 50px;
  padding-bottom: 30px;
}

.csm-and-pts div p {
  line-height: 2;
  font-size: 14px;
}

/* da rivedere */
.csm-and-pts .partners {
  padding-top: 30px;
  width: 70%;
  height: 250px;
  background-color: #fff;
  padding: 40px 100px;
}
/* / */
.csm-and-pts .partners div {
  width: 150px;
  height: 100px;
  padding: 20px;
  text-align: center;
  line-height: 100px;
}

.csm-and-pts .partners div img {
  width: 100%;
}

.six,.eight {
  padding-bottom: 10px;
}

.final-claim {
  position: relative;
  padding-top: 50px;
}

.final-claim .str-hbspt-tdy {
  height: 300px;
  width: 50%;
  background-color: #fff;
  padding-right: 5%;
  padding-left: 1%;
  padding-top: 3%;
}

.final-claim .str-hbspt-tdy h2 {
  font-size: 35px;
  padding-top: 40px;
}

.final-claim .str-hbspt-tdy > p:nth-child(2) {
  font-size: 17px;
  line-height: 2;
  padding-top: 30px;
  padding-bottom: 30px;
}

.final-claim .str-hbspt-tdy > p:nth-child(4) {
  font-size: 12px;
  line-height: 2;
  padding-top: 30px;
}

.woman-image {
  height: 300px;
  width: 25%;
  position: absolute;
  right: 0;
  top: 100px;
}

.woman-image img {
  width: 100%;
}
/* corpo centrale sezione bottom */
